/* 
    Document   : custom
    Created on : Jan 28, 2014, 11:32:46 AM
    Author     : Thu Thu
    Description:
        Purpose of the stylesheet follows.
*/

root { 
  display: block;
}

.btn-delete{
  color:#fff;
  background-color: #B91017;
  border-color: #D33A40;
}

