 body,div,p,ul{
 	margin: 0;
 	padding:0;
 }
ul{
	list-style: none;
}
body{
	background: #66BFCF;
}
 .header-brand {
  background-color: #2F435B;
  background-image: linear-gradient(to bottom,#2F435B 0,#2F445C 100%);
}
.main a{
	color:#fff;
}
#home .container{
	background: #fff;
}
.navbar-brand{
	height:42px;
	line-height: 3px;
}
.header-menu{
	background: #F3F3F3;
	  background-image: linear-gradient(to bottom,#f5f5f5,#eee);
}
.navbar-default{
	background: transparent;
}
.navbar{
	margin-bottom: 0;
}
.navbar-default .navbar-nav>li>a{
	color:#000;
}
#home .dashboard > a{
	color: #000;
}
.dashboard-bg{
	 background: #f9f9f9;
	 box-shadow: 0 3px 3px #e0e0e0;
}
span#order-item-count , span#sale-amt ,span#tax-amt {
  display: block;
  text-align: right;
  padding: 30px 0 20px 0;

}
.order , .sales , .tax{
  background: #fff;
  border: 1px solid #eee;
  border-radius: 10px;
}
#home h2{
	font-size: 17px;
}
.order h3,.sales h3,.tax h3{ 
  margin: 0;
  padding: 12px;
  background: #f2efef;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  font-size: 14px;
}
.row.status-info {
  margin-top: 25px;
}

.nav-pills li a{
	background: #f2efef;
	color: #000;s
}
.nav-pills>li+li {
  margin-left: 15px;
}
.row.main-content {
  margin-top: 20px;
}
.order-label li{
	display: inline-block;
	margin-left: 35px;
}
.order-detail {
  margin-top: 25px;
}
.order-label li:first-child{
	margin-left: 0px;
}
ul.order-label {
  padding: 10px 0;
  border-top: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
}
.active-record{
  margin-top: 20px;
}
.panel-body{
	text-align: center;
}
i.fa.fa-user {
  
  font-size: 25px;
  color: #fff;
  margin: 10px 10px 0 0;
}
.user-loggin{
  float:right;
}
.user-loggin-drop{
  left:auto;
  right:0;
}
.table>thead>tr>th {
  border-bottom: 2px solid #c4c4c4;
  padding:15px;
}
.table>tbody>tr>th{
  padding:15px;
}
.btn-crud ul{
  float: right;
}
.btn-crud ul > li{
  display: inline-block;
}
.btn-crud ul li i{
  color:#000;
}
.btn-crud ul li a{
    background-color: #f5f5f5;
    display: inline-block;
  padding: 10px 20px;
}